@font-face {
  font-family: 'AirNewzealand';
  src: url("/css/fnt/airnewzaldblackitalic.eot");
  src: url("/css/fnt/airnewzaldblackitalic.eot?#iefix") format('embedded-opentype'), url("/css/fnt/airnewzaldblackitalic.woff") format('woff'), url("/css/fnt/airnewzaldblackitalic.ttf") format('truetype'), url("/css/fnt/airnewzaldblackitalic.svg#airnewzaldblackitalic") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ApexNewBook';
  src: url("/css/fnt/apexnewbook.eot");
  src: url("/css/fnt/apexnewbook.eot?#iefix") format('embedded-opentype'), url("/css/fnt/apexnewbook.woff") format('woff'), url("/css/fnt/apexnewbook.ttf") format('truetype'), url("/css/fnt/apexnewbook.svg#apexnewbook") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ApexNewLight';
  src: url("/css/fnt/apexnewlight.eot");
  src: url("/css/fnt/apexnewlight.eot?#iefix") format('embedded-opentype'), url("/css/fnt/apexnewlight.woff") format('woff'), url("/css/fnt/apexnewlight.ttf") format('truetype'), url("/css/fnt/apexnewlight.svg#apexnewlight") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ApexNewMedium';
  src: url("/css/fnt/apexnewmedium.eot");
  src: url("/css/fnt/apexnewmedium.eot?#iefix") format('embedded-opentype'), url("/css/fnt/apexnewmedium.woff") format('woff'), url("/css/fnt/apexnewmedium.ttf") format('truetype'), url("/css/fnt/apexnewmedium.svg#apexnewmedium") format('svg');
  font-weight: normal;
  font-style: normal;
}
body,
html {
  margin: 0;
  padding: 0;
  font-family: 'AirNewzealand', tahoma, verdana;
  font-size: 100%;
  color: #fff;
  width: 810px;
  overflow: hidden;
  margin: auto;
}
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
.container {
  background-color: #000;
  padding: 0 20px;
}
.header {
  background-image: url("/img/background.png");
  background-repeat: no-repeat;
  background-position: left;
  background-color: #fff;
  -webkit-box-shadow: inset 2px 2px 2px rgba(0,0,0,0.8);
  box-shadow: inset 2px 2px 2px rgba(0,0,0,0.8);
}
.header .background {
  background: -webkit-gradient(linear, left top, right top, color-stop(0.2, rgba(0,0,0,0)), color-stop(0.6, #000));
  background: -webkit-linear-gradient(left, rgba(0,0,0,0) 20%, #000 60%);
  background: -moz-linear-gradient(left, rgba(0,0,0,0) 20%, #000 60%);
  background: -o-linear-gradient(left, rgba(0,0,0,0) 20%, #000 60%);
  background: -ms-linear-gradient(left, rgba(0,0,0,0) 20%, #000 60%);
  background: linear-gradient(left, rgba(0,0,0,0) 20%, #000 60%);
  height: 293px;
}
.header .background div {
  float: right;
}
.header .logo {
  background: url("/img/anz_logo.png");
  width: 246px;
  height: 40px;
  margin: 30px 0 0 0;
}
.header .title {
  font-family: 'AirNewzealand';
  font-size: 400%;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.8);
  margin: 10px 0 0 0;
}
.header .copy {
  text-align: right;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.8);
  font-family: 'AirNewzealand';
  font-size: 120%;
  margin: 10px 0 0 0;
}
.header .copy .apex {
  font-family: 'ApexNewBook';
  font-size: 120%;
  padding: 0 5px 0 5px;
}
.header .cta {
  font-family: 'ApexNewMedium';
  font-size: 100%;
  text-decoration: underline;
  margin: 20px 0 0 0;
}
.body {
  position: relative;
  border-top: 20px solid #000;
  background-color: #fff;
  height: 600px;
  overflow-y: auto;
  text-align: center;
}
.body .thumbnail {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  display: inline-block;
  background: url("/img/loader.gif") no-repeat center;
  -webkit-box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.8);
  box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.8);
  width: 158px;
  height: 158px;
  margin: 10px;
  text-align: center;
}
.body .thumbnail.flagged {
  background-color: #fcc;
}
.body .thumbnail.newer {
  background-color: #feffcc;
}
.body .thumbnail:hover .info {
  bottom: 0px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.body .thumbnail.admin:hover .tools {
  top: 0px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.body .thumbnail img {
  margin: 4px 0 0 0;
  width: 150px;
  height: 150px;
}
.body .thumbnail .info {
  font-family: ApexNewLight;
  position: absolute;
  opacity: 0.7;
  filter: alpha(opacity=70);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  bottom: -30px;
  left: 0px;
  width: 160px;
  background-color: #000;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  padding: 5px 0;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
}
.body .thumbnail .info .likes,
.body .thumbnail .info .tags,
.body .thumbnail .info .comments {
  display: inline-block;
  width: 12px;
  height: 11px;
  margin: 0 10px -2px 10px;
}
.body .thumbnail .info .likes {
  background: url("/img/stat_sprite.png");
}
.body .thumbnail .info .comments {
  background: url("/img/stat_sprite.png") -13px;
}
.body .thumbnail .info .tags {
  background: url("/img/stat_sprite.png") -26px;
}
.body .thumbnail .tools {
  position: absolute;
  font-family: ApexNewBook;
  top: -30px;
  width: 160px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  color: #000;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
}
.body .thumbnail .tools .flag,
.body .thumbnail .tools .stick,
.body .thumbnail .tools .flagged,
.body .thumbnail .tools .unstick {
  padding: 5px 0;
  display: inline-block;
  cursor: pointer;
  width: 78px;
  display: inline-block;
}
.body .thumbnail .tools .flag {
  background-color: #fdd;
}
.body .thumbnail .tools .flagged {
  background-color: #faa;
}
.body .thumbnail .tools .stick {
  background-color: #dfd;
}
.body .thumbnail .tools .unstick {
  background-color: #cfc;
}
.body .bloader {
  background: url("/img/loader.gif") no-repeat center;
  margin: 5px;
  height: 40px;
  line-height: 40px;
  color: #000;
  text-align: right;
}
.footer {
  padding: 20px 0;
}
.footer .copy1 {
  font-size: 240%;
  font-family: 'AirNewzealand';
}
.footer .copy1 .apex {
  font-family: 'ApexNewLight';
  padding: 0 5px 0 5px;
}
.footer .copy1 .instagram_logo {
  display: inline-block;
  background: url("/img/icon_instagram.png");
  width: 39px;
  height: 40px;
}
.footer .copy2 {
  font-family: 'ApexNewBook';
  font-size: 100%;
}
.fade {
  display: hidden;
  position: absolute;
  background-color: rgba(0,0,0,0.9);
  top: 0px;
  left: 0px;
  height: 0;
  width: 100%;
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  z-index: 5;
}
.fade,
.fadeon,
.modal,
.modalon {
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  -ms-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
.fadeon {
  cursor: pointer;
  display: block;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  height: 100%;
}
.modal {
  display: hidden;
  position: fixed;
  width: 700px;
  height: 0;
  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -350px;
  background: url("/img/loader.gif") no-repeat center;
  background-color: #fff;
  text-align: left;
}
.modal div {
  color: #000;
  display: none;
}
.modalon {
  display: block;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  height: 400px;
  z-index: 10;
}
.modalon div {
  display: block;
}
.modalpop {
  background: none;
  min-height: 200px;
  background-color: #fff;
}
.modalpop .close {
  cursor: pointer;
  background: url("/img/close.png") -11px 0;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 10px;
  height: 11px;
  margin: 5px;
}
.modalpop .close:hover {
  background: url("/img/close.png");
}
.modalpop .image {
  background: url("/img/loader.gif") no-repeat center;
  float: left;
}
.modalpop .image img {
  max-width: 400px;
  max-height: 400px;
}
.modalpop .info {
  width: 260px;
  padding: 20px;
  float: right;
}
.modalpop .info .profile {
  float: left;
}
.modalpop .info .profile img {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  width: 100px;
}
.modalpop .info .username {
  float: right;
}
.modalpop .info .caption {
  word-wrap: break-word;
}
