each media, i in data
  .thumbnail('data-id'=media.id)
    .info 
      | #{media.likes}
      .likes
      | #{media.tags}
      .tags
      | #{media.comments}
      .comments
    img('src'=media.thumbnail)
