
mixin tools(media)
  .tools
    if media.flagged != 1
      .flag('data-id'=media.id) flag
    else
      .flagged('data-id'=media.id) unflag
    
    if media.stuck != 1
      .stick('data-id'=media.id) stick
    else
      .stuck('data-id'=media.id) unstick

mixin info(media)
  .info 
    | #{media.likes}
    .sprite.likes('title'= media.likes + ' likes')
    | #{media.tags}
    .sprite.tags('title'= media.tags + ' tags')
    | #{media.comments}
    .sprite.comments('title'= media.comments + ' comments')

each media, i in data
  if (admin == true)
    .thumbnail('data-id'=media.id).admin(class=media.status)
      mixin tools(media)
      mixin info(media)
      img('src'=media.thumbnail,'alt'='')
  else
    .thumbnail('data-id'=media.id)
      mixin info(media)
      img('src'=media.thumbnail,'alt'='')

