
extends layout
block content
  .header
    .background
      .logo
      .title #nzontheway
        span.mobileinsta
          img('src'='/img/icon_instagram.png',alt='This app uses the Instagram(tm) API and is not endorsed or certified by Instagram. All Instagram(tm) logoes and trademarks displayed on this app are property of Instagram.')
      .clear
      .copy Follow @AirNZ 
        span.apex on instagram, 
        | take a picture
        br
        span.apex post it to
        | #nzontheway 
        span.apex and enter to win 
        br
        | two round-trip tickets to australia.
      .clear
      .cta: a(href='#',target='_new') Book now at airnewzealand.ca

  .body
    .fade
    .modal
    .thumbnails
      - var test = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20];
      each thumb, i in test
        .thumbnail
          img('src'='#')
    .clear
    .bloader

  .footer
    .copy1 #nzontheway
      span.apex on instagram
      .instagram_logo(title='This app uses the Instagram API and is not endorsed or certified by Instagram. All Instagram logoes and trademarks displayed on this app are property of Instagram.')
    .clear
    .fpics
      .loading
    .tandc
      a(href='/img/tandc.pdf',target='_new') Terms and conditions
