
extends layout
block content
  .header
    .background
      .logo
      .clear
      .title #nzontheway
      .clear
      .copy take a picture
        span.apex post it to 
        | #nzontheway 
        span.apex on 
        | instagram
        br
        span.apex and enter to win 
        | two round-trip tickets to australia.
      .clear
      .cta Book now at airnewzealand.ca
  .body
  .footer
    .copy1 #nzontheway
      span.apex on instagram
      .instagram_logo
    .copy2 follow @AirNZ on instagram, take a picture, post it to
      br
      | #NZonTheWay on instagram for a chance to win two round-trip tickets to Australia.
