
extends layout
block content
  .header
    .background
      .logo
      .clear
      .title #nzontheway
      .clear
      .copy take a picture
        span.apex post it to 
        | #nzontheway 
        span.apex on 
        | instagram
        br
        span.apex and enter to win 
        | two round-trip tickets to australia.
      .clear
      .cta Book now at airnewzealand.ca
  .body
    .fade
    .modal
    .thumbnails
      - var test = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20];
      each thumb, i in test
        .thumbnail
          img('src'='#')
    .clear
    .bloader

  .footer
    .copy1 #nzontheway
      span.apex on instagram
      .instagram_logo
    .copy2 follow @AirNZ on instagram, take a picture, post it to
      br
      | #NZonTheWay on instagram for a chance to win two round-trip tickets to Australia.
